.navbar{
    display: flex;
   
    width: 100%;
    justify-content: space-between;
    left: 55%;

}

.navIcon{
    display: flex;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    color: aliceblue;
    border-style: solid;
}