.navbar{
    display: flex;
   
    width: 100%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    backdrop-filter: blur(10px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0;

}

.navIcon{
    display: flex;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    color: aliceblue;
    border-style: solid;
}
.Container_login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}